* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "georgia", sans-serif;
}

.navbar {
  top: 0px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #191919;
  position: fixed;
  z-index: 1030;
  padding-top: 56px;
}
.custom-toggler.red-toggler {
  border-color: rgba(255, 0, 0, 0.5);
}

.custom-toggler.red-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.caixa-principal {
  padding: 13%;
  background-image: url(./img/template.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  /* height: 50vh;
  min-height: 300px;  */
  /* image-rendering: -webkit-optimize-contrast; */
  /* image-rendering: crisp-edges; */
  /* image-rendering: pixelated; */
  /* width: 100%; */
}
.caixa img {
  height: 100vh;
  min-height: 300px;
}
.nav-link {
  color: inherit !important;
}

a.navbar-brand {
  color: #fff;
  font-size: 2em;
  /* font-weight:500; */
  display: flex;
  text-transform: uppercase;
}

.portfolio span {
  color: #a7cc15;
}

li {
  color: white;
  list-style: none;
  display: inline-block;
  font-size: 25px;
  margin-right: 30px;
  cursor: pointer;
}

a {
  display: flex;
}

li:hover {
  color: #a7cc15;
  transition: 0.2s;
}

.link-menu {
  text-decoration: none;
  color: #fff;
}

.meu-nome {
  position: absolute;
  top: 50%;
  left: 7%;
}

.texto-centro {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

.texto-centro2 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

h1 span {
  color: #a7cc15;
  text-transform: uppercase;
  font-size: 2rem;
}

/* .meu-nome h3 {
  color: white;
  font-size: 25px;
  display: flex;
} */

h3 span {
  color: #a7cc15;
  text-transform: uppercase;
  font-size: 2rem;
}

/* section {
  display: flex;
  align-items: center;
  padding:15% auto;
  background-size: cover;
  background-position: center;
  background-color: #191919;
  /* background-image: url(./img/background.png); */
/* } */

section img {
  border-radius: 100%;
  border: 4px solid #a7cc15;
  cursor: pointer;
  height: auto;
  justify-content: center;
  text-align: center;
  left: 21%;
  display: flex;
  align-items: center;
  position: relative;
  top: -30px;
  max-width: 100%;
}

section img:hover {
  border: 3px solid #ff5733;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.05);
}

section div h2 {
  font-size: 3em;
  cursor: pointer;
  color: #a7cc15;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  border-radius: 10px;
  border: 3px solid #a7cc15;
}

section div h2:hover {
  border: 3px solid #ff5733;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.05);
}

section div p {
  color: white;
  font-size: 24px;
  margin-top: 30px;
  background-color: #000;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid #a7cc15;
}

.custom-color {
  color: #a7cc15; /* Escolha a cor desejada */
}

section div p:hover {
  background-color: black;
  border: 3px solid #ff5733;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.05);
}

section div button {
  color: blue;
  background: #a7cc15;
  height: 50px;
  width: 180px;
  font-size: 18px;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  margin-top: 3px;
}

section div button:hover {
  background-color: black;
  border: 3px solid #a7cc15;
  transition: 0.5s;
}

.projetos {
  background-color: #191919;
  padding-top: 50px;
  padding-bottom: 100px;
}

.projetos h2 {
  color: #fff;
  font-size: 2em;
  text-align: center;
  background-color: #000;
  border: 3px solid#a7cc15;
  border-radius: 10px;
  cursor: pointer;
}

.projetos h2:hover {
  border: 3px solid #ff5733;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.05);
}

.projetos span {
  color: #a7cc15;
}

.card-custom {
  background-color: #000; /* Cor de fundo suave */
  border: 5px solid #a7cc15; /* Borda leve */
  border-radius: 8px; /* Canto arredondado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px; /* Espaçamento interno */
  margin: 15px; /* Espaçamento externo */
  transition: transform 0.3s, box-shadow 0.3s; /* Animação para hover */
  color: #fff;
}

.card-custom:hover {
  transform: scale(1.05); /* Leve zoom ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentar sombra no hover */
}

.card-title {
  font-size: 1.5rem; /* Tamanho do título */
  margin-bottom: 15px; /* Espaçamento abaixo do título */
  font-weight: bolder;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
}

.card-custom .btn {
  background-color: #a7cc15; /* Cor do botão */
  color: white; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento do botão */
  border-radius: 5px; /* Bordas arredondadas do botão */
  text-align: center; /* Alinhar o texto no centro */
  display: block; /* Exibe o botão como bloco */
  margin: 20px auto; /* Centraliza o botão */
  width: fit-content; /* Ajusta a largura ao conteúdo */
  border: 6px solid #fff;
}

.card-custom .btn:hover {
  background-color: #ff5733; /* Cor ao passar o mouse */
  transition: transform 0.5s ease-in-out;
  transform: scale(1.05);
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer > div {
  flex: 1 1 50%; /* Cada item ocupará 50% da largura disponível */
  box-sizing: border-box; /* Garante que o padding e bordas sejam incluídos no tamanho total */
  padding: 10px; /* Espaçamento interno, opcional */
}

footer h5 {
  color: white;
  font-size: 30px;
}

footer p {
  color: white;
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 30px;
}

/* reset button */
button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  overflow: visible;
}

body {
  min-height: 100svh;
  background-color: rgb(15, 23, 42);
  color: white;
  place-content: center;
  font-size: 1rem;
  font-family: system-ui;
}

nav {
  --_clr-txt: rgb(255, 255, 255);
  --_clr-txt-svg: rgb(147, 158, 184);
  --_ani-speed: 6s; /* speed of rotating text */

  display: flex;
  /*flex-wrap: wrap;*/
  gap: 1rem;
  font-size: 1.4rem;
}
nav > button {
  position: relative;
  display: grid;
  place-content: center;
  grid-template-areas: "stack";
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  color: aliceblue;
}

/* place button items on top of each other */
nav > button > span {
  transition: all 300ms ease-in-out;
  grid-area: stack;
}
/* nav icon */
nav > button > span:last-of-type {
  margin-top: 0.25rem;
  transform: scale(0);
  transition-delay: 0ms;
  border-radius: 50%;
}
/* hover - hide text */
nav > button:focus-visible > span:first-of-type,
nav > button:hover > span:first-of-type {
  transform: scale(0);
}
/* hover - reveal icon */
nav > button:focus-visible > span:last-of-type,
nav > button:hover > span:last-of-type {
  transform: scale(1);
}

/* nav SVG circular text*/
nav > button > svg {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  opacity: 0;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  color: #a7cc15;
}
/* hover - reveal rotating SVG */
nav > button:focus-visible > svg,
nav > button:hover > svg {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-delay: 150ms;
  transition: all 300ms ease-in-out;
}
/*
@supports (-webkit-touch-callout: none) {
/* specific to iOS devices * / 
button svg {
    /* adjust position for iOS * /
    translate: -50% -50%;
    animation: rotate var(--_ani-speed) linear infinite;
}
}
@supports not (-webkit-touch-callout: none) {
*/

button svg g {
  transform-origin: center;
  animation: rotate var(--_ani-speed) linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*PARTE RESPONSIVA MOBILE*/

@media (max-width: 430px) {
  nav > button {
    position: relative;
    display: block;
    padding: 0 1rem; /* Reduz a largura do padding para caber melhor na tela */
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9rem; /* Diminui um pouco o tamanho da fonte */
    color: aliceblue;
  }

  nav > button > svg {
    width: 40px; /* Reduzi a largura para 40px para telas menores */
    height: 80px; /* Ajustei a altura para 80px */
    top: 50%;
    left: 10%; /* Ajustei a posição para mais centralização */
    transform: translate(
      -50%,
      -50%
    ); /* Mudei o valor de -58% para -50% para centralizar melhor */
    transform-origin: center;
    opacity: 0;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    color: #a7cc15;
    display: block;
  }
  section img {
    left: 8%;
    width: 80%;
  }

  section div p {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  nav > button {
    position: relative;
    padding: 0 1rem; /* Reduz a largura do padding para caber melhor na tela */
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9rem; /* Diminui um pouco o tamanho da fonte */
    color: aliceblue;
  }

  nav > button > svg {
    width: 40px; /* Reduzi a largura para 40px para telas menores */
    height: 80px; /* Ajustei a altura para 80px */
    top: 50%;
    left: 10%; /* Ajustei a posição para mais centralização */
    transform: translate(
      -50%,
      -50%
    ); /* Mudei o valor de -58% para -50% para centralizar melhor */
    transform-origin: center;
    opacity: 0;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    color: #a7cc15;
  }

  section img {
    left: 15%;
    width: 70%;
  }

  .container,
  .container-md,
  .container-sm {
    max-width: 80% !important;
  }

  section div p {
    font-size: 0.9em;
  }
}
